<div class="container">
  <div class="title">
    <h2>Keyword Finder</h2>
  </div>
  <div>
    <mat-form-field>
      <mat-label>First letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="firstLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'firstLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="firstLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Second letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="secondLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'secondLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="secondLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Third letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="thirdLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'thirdLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="thirdLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Fourth letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="fourthLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'fourthLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="fourthLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Fifth letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="fifthLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'fifthLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="fifthLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Sixth letter</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="sixthLetter"
        [disabled]="isSearching()"
        (blur)="onBlur($event.target, 'sixthLetter')"
      />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        tabindex="-1"
        [disabled]="isSearching()"
        (click)="sixthLetter.set('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="buttons">
    <div></div>
    <div>
      <button mat-raised-button [disabled]="isSearching()" (click)="onSubmit()">
        Find Word
      </button>
      <button mat-raised-button [disabled]="isSearching()" (click)="onClear()">Clear</button>
      <button
        mat-raised-button
        [disabled]="!isSearching()"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
    <div></div>
  </div>
  <div class="results">
    <mat-label>{{ results() }}</mat-label>
  </div>
</div>
